 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
            height: 70px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            background-color: aqua;
        }
       
        .cont-1{
            display: flex;
            gap: 6px;
            gap: 3rem;
        }
        
      .cont-1 a{
        text-decoration: none;
        color: black;
      }
   
         .menu-icon{
            display: none;

         }
    
    .sec-1{
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
        margin-top: 3rem;
    }
    .sec-2{
        height: 100px;
        width: 400px;
        text-align: center;
        margin:auto;
        color: black;
    }
    .main-cont-1{
        height: 350px;
        width: 80%;
        /* border: 1px solid black; */
      
       display: flex ;
       gap: 20px;
       justify-content: space-evenly;
       margin: auto;
    
       

    }
    .sec-3{
        width:400px ;
        border: 1px solid black;
        overflow: hidden;
        box-shadow: 11px 18px 26px 2px rgba(0,0,0,0.35);
        border-radius: 25px;
    }
    .img-1{
        width: 400px;
        height: 223px; 
        /* width: 100%;
        height: 100%; */
    }
    .para{
        text-align: center;
        font-weight: bolder;
    }
    .sec-4{
        display: flex;
        /* margin: auto; */
        justify-content: space-between;
        padding: 0 6%; 
        margin-top: 30px;
        align-items: center;
    }
    .button{
        background-color: blue;
        color: aliceblue;
        border-radius: 25px;
        /* height: 50px; */
        border: none;
        padding: 15px 25px;

    }
    button:hover{
        cursor: pointer;
    }
    .para-1{
        color: blue;
    }
    .main-cont-2{
        margin-top: 30px;
    }
   .check{
    display: flex;
    margin-top: 6rem;
    justify-content: space-evenly;

   }
   .check select{
    border-inline: none;
    border-top: none;
    border-bottom: none;
    
    
   }
   .check select:focus{
    outline: none;
   }
   .recent-blog{
    padding: 0 40px;
   }
   .blog-heading{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
    font-size: 40px;
    font-weight: bold;

   }
   .blog-1,
   .blog-2,
   .blog-3{
    width: 400px;
    height: 300px;
   }
   .blog-1 img,
   .blog-2 img,
   .blog-3 img{
    width: 100%;
    height: 100%;

   }
   .blog-1-text,
    .blog-2-text,
     .blog-3-text{
    font-weight: bold;
    margin-top: 1rem;
    font-size: 24px;
    margin-bottom: 20px;

   } 
   .main-div-blog{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    gap: 3rem;
   }
   /* .blog-2,
   .blog-3{
    margin-top: 9rem;
   } */
 .main-sec-1-insta-photo{
    padding: 0 40px;
    margin-top: 18rem;
   
 }
 .insta-photo-para{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 2rem;

 }
 .img-1-div{
    width: 400px;
    height: 300px;
 }
 .img-1-div img{
    width: 100%;
    height: 100%;
 }
 .main-div-insta-photo{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 3rem;
    margin-bottom: 3rem;
 }
  .map-location {
  
    height: 900px;
 } 
 .map-location iframe {
    width: 100%;
    height: 100%;
 }
 .main-footer{
    /* margin-top: 4rem; */
    padding: 0 40px;
    background-color: black;
 }
 .inner-footer-div{
    color: white;
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
 }
 .footer-1-text{
    font-size: 24px;
    margin-bottom: 2rem;
 }
 .footer-1-text-2{
    margin-bottom: 2rem;
 }
 .footer-1-text-call{
    /* padding-top:1rem; */
    font-size: 24px;
    /* padding-top: 2rem; */ 
 }


 @media(max-width:1024px){
    .main-cont-1 {
        flex-wrap: wrap;
         height: 700px;
        width: 100%;
    }
     .main-div-blog{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
     }
      .blog-1,
   .blog-2,
   .blog-3{
    width: 100%;
    height: 100%;
   }
    .main-div-insta-photo{
        flex-wrap: wrap;
    }
    .img-1-div{
    width: 100%;
    height: 500px;
 }
 .main-sec-1-insta-photo{
    margin-top: 5rem;
 }

 }

 @media (max-width:768px) {
    
    nav{
        padding: 0px 20px;
        width: 100%;
    }
      .cont-1 a{
      display: none;

      }
      .menu-icon{
        display: flex;
      }
      nav img{
        width: 80px;
        height: 40px;

      }
      .sec-1{
        
        font-size: 30px;
        margin-top: 2rem;
       
    }
    .sec-2{
        width: 100%;
        text-align: justify;
        
    }
    .main-sec-1{
        padding: 0px 10px;
    }
    .main-sec-2{
          padding: 0px 10px;

    }
    .main-cont-1 {
        /* flex-wrap: wrap; */
       
        width: 100%;
        height: 1150px;
    }
    .recent-blog{
        padding: 0px 10px;
    }
    .check,
    option{
        flex-direction: column;
        /* margin-bottom: 3rem; */
        margin-top: 3rem;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .check-in-date{
        margin-bottom: 2rem;
    }
    .check-out-date{
        margin-bottom: 2rem;

    }
     .main-div-blog{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
     }
     .blog-heading{
        font-size: 30px;
     }
    .blog-1,
   .blog-2,
   .blog-3{
    width: 100%;
    height: 100%;
   }
   .main-sec-1-insta-photo{
    padding: 0px 10px;
    margin-top: 4rem;
   }
   .insta-photo-para{
    font-size: 30px;
   }
 
 .map-location{
    height: 500px;
   
 }
 .inner-footer-div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .footer-1-text{
    margin-bottom: 0.2rem;
    font-size: 20px;
 }
 .footer-1-text-call{
    font-size: 18px;
 }
 .footer-1-text-2{
    margin-bottom: 0.2rem;
 }
 .footer-2{
    margin-top: 2rem;
 }
 .footer-3{
     margin-top: 2rem;

 }
 }
