/* media query 365 se nichenhi dekhna hai 365-768-mobile , 768-1024-tablet - 1024 se upar- desktop

     */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
/* body { */
/* height: 100vh;
        width: 100vw; */
/* } */
nav {
  display: flex;
  justify-content: space-between;
  /*  */
   /* border: 1px solid black; */

  /* height: 100vh; */
  /* background-color: cadetblue; */
  /* padding: 0px 12px; */
  /* position: fixed;
        top: 20px;
        left: 10px;
        right: 10px; */
}
.main-div {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  left: 0px;
  right: 0px;
  align-items: center;
  border: 1px solid black;
  padding: 4px 20px;
  margin: 0 10px;
 
  
  /* background-color: rgba(255, 187, 0, 0.269); */
  border-radius: 10px;
  z-index: 1000;
  /* padding: 0px 7px; */
}
.text-div {
  display: flex;
  justify-content: space-between;
  /* padding-left: 20px; */
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 19px;
  /* text-decoration: none; */
}
.links a {
  text-decoration: none;
  color: black;
}
.btn {
  display: flex;
  justify-content: space-between;
  /* padding-right: 20px; */
  /* padding: 10px 10px; */
  /* padding: ; */
}
.btn button {
  padding: 10px 10px;
  border-radius: 5px;
  /* background-color: ; */
}
.horizental-line{
  display: none;
}

.main-sec-1 {
  /* background-color: rgba(255, 187, 0, 0.269); */
  padding: 4px 20px;
  /* height: 100vh; */
  width:100%;
}

.main-sec-1 h1 {
  margin-top: 10rem;
  font-size: 7rem;
  text-align: center;
  /* font-family: "Jost", sans-serif; */
  align-items: center;
  justify-content: center;
  flex-direction: column  ;
  display: flex;
}
.main-sec-1 span {
  /* display: block; */
}
.main-sec-1 p {
  display: flex;
  /* text-align: center; */
  /* justify-content: center; */
  margin-top: 1rem;
  font-size: 2rem;
  /* padding-left:6rem; */
  display: block;
  text-align: center;
  /* font-family: "Jost", sans-serif; */
}
.main-div-img {
  display: flex;
  margin-top: 5rem;
  padding: 4px 8px;
  width: 100%;
}
.img-1,
.img-2 {
  width: 50%;
}

.img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.para-acc {
  font-size: 3rem;
  text-align: left;
  padding-top: 4rem;
}
.main-div-img-2 {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 4px 20px;
  /* flex-wrap: wrap; */
  /* width: 500px; */
}
.inner-img-1 {
  width: 100%;
}
.inner-img-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.experience-sec {
  padding: 4px 20px;
}
.text-p-experience {
  font-size: 3rem;
  margin-top: 3rem;
  font-weight: bold;
}

.line {
  width: 100%;
  border: 1px solid gray;
  margin-top: 3rem;
  /* padding: 4px 20px; */
}
.main-div-text-experience {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 4px 20px;
  /* margin-top: 1.5rem; */
}
.main-para-1-expe-div {
  height: 30px;
  width: 120px;
  border: 1px solid black;
  /* padding-top: 0.5rem; */
  border-radius: 20px;

  /* padding: 1rem; */

  /* display: flex; */
  justify-content: space-between;
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.para-1-text-experience {
  font-family: "jost", sans-serif;
  line-height: 100%;

  /* align-items: center; */
}
.main-para-2-expe-div {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}
.main-para-2-expe-div p {
  font-family: "jost", sans-serif;
  line-height: 100%;
  margin-top: 1rem;
}
.main-para-2-expe-div span {
  display: block;
  display: flex;

  justify-content: center;
  line-height: 150%;
}
.main-para-3-expe-div {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* width: 80%; */
  width: 40%;
  margin-top: 1rem;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem; /* this moves the button itself */
}

.btn-exparience {
  display: flex;
  height: 40px;
  width: 120px;
  border: 1px solid black;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /* padding-left: 300px; */
  color: cornsilk;
  /* justify-content: flex-end; */
}
.btn-exparience:hover {
  background-color: cornsilk;
  color: black;
  cursor: pointer;
}
.Our-Story {
  /* border: 1px solid black;  */
  margin-top: 3rem;
  padding: 4px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end;  */
  /* align-items: flex-end;  */
}

.text-our-story {
  font-size: 3rem;
  font-weight: bold;
}
.para-text-our-story {
  font-family: "Jost";
  width: 50%;
  font-size: 1.3rem;
  text-align: justify;
  word-spacing: 0;
  /* letter-spacing: -1px; */
  padding-top: 1rem;
}
.img-div {
  /* width: 100%; */
   /* important: full width so image can go right */
  padding-top: 3rem;
  display: flex;
  justify-content: flex-end; /* push image to right */
  align-items: center;
  height: 600px;
  
}
.img-div img {
  width: 80%; 
  height: 100%;
  /* adjust as needed */
  
  object-fit: cover;
}

.key-highlight {
  /* border: 1px solid black; */
  padding: 4px 20px;
}
.heading-key-highlight {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
}
.main-div-key-highlight {
  padding: 4px 20px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  justify-content: center;
  
  gap: 2rem;
  
}

.inner-div-key-highlight {
  /* display: flex; */
  width: 140px;
  height: 130px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
 .inner-div-key-highlight img {
  
  width: 60%;
 
} 
.inner-div-key-highlight p {
  padding-left: 2rem;
  font-size: 18px;
  font-family: "jost";
  /* padding-top: 2rem; */
}
.inner-div-key-highlight span {
  display: block;
}
.line-2 {
  /* padding: 4px 20px; */
  width: 100%;
  border: 1px solid gray;
  margin-top: 3rem;
}
p{
  margin: 0;
}
.guest-connect-with-us{
  /* border: 1px solid black; */
  padding: 4px 20px;
}
.guest-connect-with-us h2{
  font-size: 3rem;
  margin-top: 3rem;
  padding-left: 2rem;
  
}
.line-3{
  width: 82%;
  border: 1px solid gray;
   display: flex; 
  justify-content: center;
  align-items: center;  
  margin-top: 2rem;
  margin-left: 14rem;
   /* padding: 4px 20px; */
}
.text-stories-1{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  /* margin-left: 2rem; */

}
.who-write{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.para-how-to-reach-our-team{
  /* padd */
  margin-left: 2rem;
  font-size: 1.2rem;
  width: 50%;
  margin-top: 1rem;
  
}
.main-div-form{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  /* width: 50%; */
  flex-wrap: wrap;

}
.main-form-div-2{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  /* width: 50%; */
  flex-wrap: wrap;

}
/* form{
  display: flex;
  justify-content: center;
  
} */
.input-box{
  display: flex;
  flex-direction: column;
  width: 40%;
  /* gap: 1rem; */
  
}
 .input-box-1{
   display: flex;
  flex-direction: column;
  width: 85%; 
  
 }
 .input-box input,
  .input-box select{
  border-inline: none;
  border-top: none;
}
.input-box input:focus,
.input-box select:focus{
  outline: none;
}

.input-box-1 textarea{
  border-inline: none;
  border-top: none; 
  
}
.input-box-1 textarea:focus{
  outline: none;
}
.input-box-1 button{
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
}
.input-box-1 button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.footer{
  /* border: 1px solid black; */
  padding: 4px 20px;
}
.text-para-footer{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3rem;

}
.para-2-footer{
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

}
.main-form-1{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 2rem;
  
}
.main-form-1 textarea{
  border-inline: none;
  border-top: none;
  width: 50%;
}
.main-form-1 textarea:focus{
  outline: none;
}
.main-form-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  margin-top: 2rem;
  gap: 0.5rem;
  
}

 .button-div{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
 }

.button-div button{
  padding: 10px 300px;
  border-radius: 10px;
  
}
.button-div button:hover{
  background-color: black;
  color: white;
}
.button-1{
  display: flex;
  flex-direction: column;
   align-items: center;
  margin-top: 3rem;
  gap: 20px;
  
  
  

  
}
.footer-btn-1{
  padding: 10px 10px;
  border-radius: 20px;
  
  
}
.para-3-footer{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}




@media(max-width :1024px){
  .text-div h1{
    font-size: 1.5rem;
  }
  .btn button{
    padding: 4px 5px;
  }

  .main-sec-1 h1{
    font-size: 6rem;
  }
  .main-sec-1 p {
    font-size: 1.8rem;
  }
  .main-div-img{
    flex-direction: column;
  }
  .img-1{
    width: 100%;
    height: 600px;
  }
  .img-1  img{
    width: 100%;
  }

  .img-2{
    width: 100%;
    height: 600px;
  }
  .img-2 img{
    width: 100%;
  }

   .para-acc{
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  .main-div-img-2{
    flex-direction: column;
  }
  .inner-img-1{
    /* width: 100%; */
    height: 600px;
  }
  .inner-img-1  img{
    /* width: 100%; */
  }

  .text-p-experience{
    font-size: 2.5rem;
  }
  .line{
    width: 100%;
  }
  .main-div-text-experience{
    flex-direction: column;
    align-items: flex-start;
    /* width: 100%; */
    gap: 1rem;
  }
  .main-para-2-expe-div span  {
    display: inline;
  }
  .main-para-3-expe-div  {
    /* width: 100%; */
    width: 100%;
    text-align: justify;
  }
  .btn-container{
    justify-content: center;
  }
  .text-our-story{
    font-size: 3rem;
  }
  .para-text-our-story{
    width: 100%;
  }
  .img-div{
    align-items: center;
    justify-content: flex-start;
    
    height: 600px;
  }
  .img-div img {
    width: 100%;
  }

  .heading-key-highlight{
    font-size: 2.5rem;
    text-align: left;
  }
   .heading-key-highlight{
    margin-top: 3rem;
   }
   .main-div-key-highlight{
    display: flex;
   
    justify-content: center;

   }
   .guest-connect-with-us h2{
    font-size: 2.5rem;
   }
   .line-3{
  width: 90%;
  border: 1px solid gray;
margin-left: 5rem;
}
.guest-connect-with-us h2{
  justify-content: flex-start;
  margin-top: 2rem;
  padding-left: 1rem;
}
.text-stories-1{
  justify-content: center;
}
.text-para-footer{
  margin-top: 1rem;
}
.para-2-footer{
  margin-top: 1rem;
}

.button-1{
  margin-top: 2rem;
}




  



}

@media(max-width :768px){
  .text-div h1{
    font-size: 1.3rem;
  }
  .links{
    display:none;
    /* position: absolute; */
  }
  .horizental-line{
    display: block;
    /* position: relative; */
  }
  .main-sec-1{
    padding: 4px 8px;
  }

  .main-sec-1 h1{
    font-size: 4rem;
    margin-top: 5rem  ;
  }
  .main-sec-1 p {
    font-size: 1.5rem;
  }

  .main-div-img{
    padding: 2px 5px;
    margin-top: 3rem;
    gap: 2px;
  }

   .img-1{
    /* width: 100%; */
    height: 400px;
  }
   .img-1  img{
    /* width: 100%; */
  }
  .img-2{
    /* width: 100%; */
    height: 400px;
  }
  .img-2 img{
    /* width: 100%; */
  }

  .para-acc{
    font-size: 2rem;
    padding-top:1rem ;
  }
   .main-div-img-2{
    flex-direction: column;
    padding: 2px 5px;
  }
   .inner-img-1{
    /* width: 100%; */
    height: 300px;
  }
  .inner-img-1  img{
    /* width: 100%; */
  }
  .experience-sec{
    padding: 4px 8px;
  }
  .text-p-experience{
    font-size: 2rem;
    margin-top: 1rem;
  }
  .line{
    margin-top: 2rem;
  }
  .main-div-text-experience{
    padding: 4px 8px;
  }
  .Our-Story{
    padding: 4px 8px;
    margin-top: 2rem;
     }
     .text-our-story{
      font-size: 2rem;
     }
     .para-text-our-story{
      font-size: 16px;
     }
     .img-div{
      /* width: 100%; */
       height: 300px;
       overflow: hidden;
      
       
     
     }
     .img-div img{
      /* width: 100%; */
    
       object-fit: cover;
      
     }

     .key-highlight{
       padding: 4px 8px;

     }
     .heading-key-highlight{
      font-size: 2rem;
      margin-top: 1rem;
     }
     
     .main-div-key-highlight{
      
      gap: 1rem;
      display: flex;
      
       padding: 4px 8px;
       
       justify-content: center;
      
     }
     .line-2{
      display: none;
     }
     .inner-div-key-highlight{
     
      display: flex;
     
      width: 250px;
      height: 190px;
      margin-top: 1rem;
      
      
     }
     .inner-div-key-highlight img{
       width: 40%;
      height: 30%; 
     }
    
    
     .guest-connect-with-us{
      padding: 4px 8px;
     }
      .guest-connect-with-us h2{
        font-size: 2rem;
        margin-top: 1rem;
      }
      .line-3{
       
        margin-left: 1rem;
        width: 98%;
      } 
      .text-stories-1{
        margin-left: 1rem;
        margin-top: 1rem;
      }
      .text-connect{
        font-size: 2rem;
      }
      .para-how-to-reach-our-team{
        font-size: 16px;
      }
     
       .main-div-form{
        flex-direction: column;
       
       }
       .input-box{
        
        width: 100%;

       }
       .main-form-div-2{
        justify-content: flex-start;
        margin-top: 2rem;
       }
       .input-box-1{
        width: 100%;
       }
       .footer{
        padding: 4px 8px;
       }
       .text-para-footer{
        font-size: 1rem;
       }
       .button-div button{
        width: 100%;
        padding: 10px ;
       }
       .inner-button-1 .btn-9{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
       
       }
       .footer-btn-1  .btn-9{
        padding: 10px 20px;
       }
       .para-3-footer{
        margin-top: 2rem;
       }
       .para-how-to-reach-our-team {
        width: 100%;
        margin-left: 1rem;
       }
      }
     
     
@media(max-width :415px){
  .main-div{
    top: 10px;
    left: 0px;
        padding: 2px 5px;
  }
  .text-div h1{
    font-size: 1rem;
  }
  .btn button{
    padding: 3px 3px;
  }
   .main-sec-1{
    padding: 2px 5px;
  }
   .main-sec-1 h1{
    font-size: 2.5rem;
    margin-top: 4rem;
  }
  .main-sec-1 p {
    font-size: 1rem;
  }
  .main-div-img{
    padding: 2px 5px;
    margin-top: 2rem;
    gap: 2px;
  }

   .img-1{
    width: 100%;
    height: 300px;
  }
   .img-1  img{
    width: 100%;
  }
  .img-2{
    width: 100%;
    height: 300px;
  }
  .img-2 img{
    width: 100%;
  }
  .para-acc{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
  }
  .main-div-img-2{
    /* padding-top: 1rem; */
    margin-top: 1rem;
  }
  .inner-div-key-highlight{
    margin-top: 1rem;
  }
  .inner-div-key-highlight p{
    font-size: 16px;
  
}
}




