* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo-img {
  width: 40px;
  height: 40px;
}
.button-1:hover {
  background-color: black;
  color: white;
}
 .inner-div-sec p {
  max-width:70%;
} 
.inner-div-2-happy-client{
   background-color: rgba(192, 192, 12, 0.6);
}
.inner-div-2-happy-client p,
.inner-div-1-happy-client p {
   max-width:70%;
 

}

@media (max-width: 576px) {
  nav {
    padding-inline: 8px !important ;
  }
  .physical-thraphy-sec h1{
    font-size: 25px;
    margin: 20px 0px !important;
  }
   .physical-thraphy-sec p{
    font-size: 12px;
   }
  .physical-thraphy-sec{
    padding-inline: 8px !important;
  }
  .physical-thraphy-sec button{
    padding: 8px;
    font-size: 12px;
  }
   .img-div{
    /* display: flex; */
    flex-direction: column;
   }
  .img-div img{
    
    /* margin-top: 1rem; */
    width: 100% !important;
    height: 50% !important;
  }
  .mian-div-text-img-sec{
    flex-direction: column;
  }
  .inner-div-sec p {
  max-width:100%;
} 
.w-50{
  width: 100% !important;

} 
.mian-div-text-img-sec{
  margin-top: 2rem;
}
.inner-div-sec p {
    margin-top: 12px !important;
    text-align: justify;
}
.inner-div-img-sec img{
  height: 600px !important;
  /* width: 100%; */
}
hr{
  display: none;
}
.inner-div-sec h2{
  font-size: 23px;
  margin-top: 1rem;
}
}
@media (max-width: 768px) {
  /* nav .navbar{
        padding: 8px 10px;
    } */
  nav .left {
    font-size: 14px !important;
  }
  .logo-img {
    width: 30px;
    height: 30px;
  }
  nav a {
    font-size: 13px;
  }
  nav button {
    padding: 4px;
    font-size: 12px;
  }
  .img-div{
    margin-top: 1rem;
  }
  .img-div img{
    /* margin-top: 1rem; */
    width: 100% !important;
    height: 50% !important;
  }

 .inner-div-sec p {
  max-width:100%;
} 
.w-50{
  width: 100% !important;

} 
.mian-div-text-img-sec{
  margin-top: 2rem;
}
.inner-div-sec p {
    margin-top: 12px !important;
    text-align: justify;
}
.inner-div-img-sec img{
  height: 600px !important;
}
hr{
  display: none;
}
.inner-div-sec h2{
  font-size: 23px;
  margin-top: 1rem;
}
}
