* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} body{
  padding-inline: 12px;
} 
.logo-img {
  width: 40px;
  height: 40px;
}
.button-1:hover {
  background-color: black;
  color: white;
}
  .inner-div-sec p {
  max-width:70%;
  font-size: 20px;
  text-align: justify;
}  
.inner-div-2-happy-client,
.inner-div-1-happy-client{
/* background-color: rgba(192, 192, 12, 0.6); */
/* background-color: var(--bg-overlay-color); */
background-color: #F0EFE1;
}
.inner-div-2-happy-client p,
.inner-div-1-happy-client p {
   max-width:70%;
 

}
.btn-3 button:hover{
  background-color: black;
  color: white;
}
.line{
  width: 70%;
  height: 1;
  border: 1px solid black;
  margin-top: 2rem;

}
.main-sec-img-form form{
  border: 2px solid black;
  background-color: #F0EFE1;
}
.main-sec-img-form form input,
.main-sec-img-form form select{
   border-inline: none;
  border-top: none;
}
.main-sec-img-form form input:focus,
.main-sec-img-form form select{
  outline: none;
}
.main-sec-img-form form h2{
  margin-top: 7rem !important;
}
.form-text-1 input{
  border-inline: none;
  border-top: none;

}
.form-text-1 input:focus{
  outline: none;
}
.btn-footer button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.div-3-footer p {
  margin: 0;
}
.main-footer{
   background-color: #F0EFE1;
   

}


@media (max-width: 576px) {
  nav {
    padding-inline: 8px !important ;
  }
  .physical-thraphy-sec h1{
    font-size: 25px;
    margin: 20px 0px !important;
  }
   .physical-thraphy-sec p{
    font-size: 12px;
   }
  .physical-thraphy-sec{
    padding-inline: 8px !important;
  }
  .physical-thraphy-sec button{
    padding: 8px;
    font-size: 12px;
  }
   .img-div{
    /* display: flex; */
    flex-direction: column;
   }
  .img-div img{
    
    /* margin-top: 1rem; */
    width: 100% !important;
    height: 50% !important;
  }
  .mian-div-text-img-sec{
    flex-direction: column;
  }
  .inner-div-sec p {
  max-width:100%;
} 
.w-50{
  width: 100% !important;

} 
.mian-div-text-img-sec{
  margin-top: 2rem;
}
.inner-div-sec p {
    margin-top: 12px !important;
    text-align: justify;
}
.inner-div-img-sec img{
  height: 600px !important;
  /* width: 100%; */
}
hr{
  display: none;
}
.inner-div-sec h1{
  font-size: 23px;
  margin-top: 1rem;
}
.main-div-img-text-happy-client{
  display: flex;
  flex-direction: column;
 }
 .inner-div-1-happy-client img,
 .inner-div-2-happy-client img{
  height: 400px;
 }
 .inner-div-2-happy-client p{
  margin-top: 1rem;
 }
 .inner-div-2-happy-client{
  padding: 8px;
 }
 .inner-div-2-happy-client p,
.inner-div-1-happy-client p {
   max-width:100%;
   text-align: justify;
 

}
.inner-div-2-happy-client h2
{
  font-size: 20px;
}
.inner-div-1-happy-client h2{
  font-size: 25px;
}
.inner-div-2-happy-client p{
  font-size: 14px;
}
.heading {
  font-size: 25px;
}
.heading-2 {
  font-size: 25px;
}
.inner-div-2-happy-client svg{
  height: 70px;
  width: 70px;
}
.line{
  width: 100%;
}

}
@media (max-width: 768px) {
  /* nav .navbar{
        padding: 8px 10px;
    } */
  nav .left {
    font-size: 14px !important;
  }
  .logo-img {
    width: 30px;
    height: 30px;
  }
  nav a {
    font-size: 13px;
  }
  nav button {
    padding: 4px;
    font-size: 12px;
  }
  .img-div{
    margin-top: 1rem;
  }
  .img-div img{
    /* margin-top: 1rem; */
    width: 100% !important;
    height: 50% !important;
  }

 .inner-div-sec p {
  max-width:100%;
} 
.w-50{
  width: 100% !important;

} 
.mian-div-text-img-sec{
  margin-top: 2rem;
}
.inner-div-sec p {
    margin-top: 12px !important;
    text-align: justify;
}
.inner-div-img-sec img{
  height: 600px !important;
}
hr{
  display: none;
}
.inner-div-sec h1{
  font-size: 23px;
  margin-top: 1rem;
}
/* .main-div-happy-client{
  display: flex;
  flex-direction: column;
} */
 .main-div-img-text-happy-client{
  display: flex;
  flex-direction: column;
 }
 .inner-div-1-happy-client img,
 .inner-div-2-happy-client img{
  height: 400px;
 }
 .inner-div-2-happy-client p{
  margin-top: 1rem;
 }
 .inner-div-2-happy-client{
  padding: 8px;
 }
 .inner-div-2-happy-client p,
.inner-div-1-happy-client p {
   max-width:100%;
   text-align: justify;
 

}
.inner-div-2-happy-client h2
{
  font-size: 20px;
}
.inner-div-1-happy-client h2{
  font-size: 25px;
}
.inner-div-2-happy-client p{
  font-size: 14px;
}
.heading {
  font-size: 25px;
}
.heading-2 {
  font-size: 25px;
}
.inner-div-2-happy-client svg{
  height: 70px;
  width: 70px;
}
.line{
  width: 100%;
}
.main-sec-img-form form{
  padding: 2px !important;
}
}

@media (max-width:1024px) {
  .main-sec-img-form{
    flex-direction: column;
  }
  .main-sec-img-form img{
    width: 100%;
    height: 600px;
  }
  .main-sec-img-form form{
    width:100% !important;
    /* padding-inline:2px ; */
  }
  .main-footer{
  flex-direction: column;
   

}
.div-3-footer{
  margin-top: 2rem;
}
}