*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
nav{
    display: flex;
    justify-content: center;
   
    align-items: center;
    padding: 0px 20px;
background-color: black;
height: 70px;

    
}
 .links{
   display: flex;
    gap: 3rem;
}
.links a {
    text-decoration: none;
    color:white;
    font-size: 16px;
}
.main-div-1{
    background-image: url("./images/sunset\ img.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
}
.inner-div-1{
    height: 90vh;
    display: flex;
    flex-direction: column;
     justify-content: center;
    /* height: 90vh; */
    align-items: center;
    gap: 1rem;
}
.main-div-1 h1{
    color: white;
    font-size: 35px;

}

.main-div-1 p{
    display: flex;
    color: white;
    font-size: 18px;
   


}
.main-sec-2{
    /* padding: 0 20px; */
}
.heading-text-div{
    width: 100%;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inner-div-text-symbol{
    display: flex;
    margin-top: 3rem;
    justify-content: space-evenly; 
    /* justify-content: center; */
    line-height: 1.5;
    /* gap: 6rem; */
}
.inner-div-text-symbol h2{
    font-weight: bold;
    font-size: 18px;
}
.inner-div-2-text-symbol{
     display: flex;
    margin-top: 3rem;
    justify-content: space-evenly; 
    /* justify-content: center; */
    line-height: 1.5;
    align-items: center;

}
.inner-div-2-text-symbol h2{
    font-weight: bold;
    font-size: 18px;
}
.main-sec-portfolio{
    margin-top: 8rem;
   
    
}
.div-portfolio-text-heading{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-div-img{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}
.heading-blog-para-div{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.main-div-card{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.card-1{
    /*  border: 1px solid black; */
    width: 300px;
    height: auto;
}
.card-1 p {
    margin-bottom: 10px;
    text-align: justify;
}
.main-div-footer{
    background-color: silver;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    height: 30vh;
}
.footer-contact-para-div{
    display: flex;
    gap: 1rem;
    padding-top: 5rem;
    
}
.footer-contact-text{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
